<div class="row">
    <div class="col-md-12">
        <ul class="list-group mb-2">
            <li class="list-group-item" *ngFor="let product of products">
                <span class="text-primary float-left">Name:-{{product.productId.Name}}</span>
                <span class="text-danger float-right">Quantity:-{{product.quantity}}</span>
            </li>
            <li class="list-group-item text-center">Total:- <b class="text-warning">{{total}}</b></li>
            <li class="list-group-item text-center">
                <button type="button" class="btn btn-primary btn-sm" (click)="addOrder()">Order</button>
            </li>
        </ul>
    </div>
</div>
