.cart-icon{
    height: 42px;
    width: 60px;
}

.avtar-icon{
    height: 50px;
    width: 110px;
}

.badge-position{
    position: relative;
    left: 38px;
    /* top: 20px; */
    bottom: 12px;
}

.pointer{
    cursor: pointer;
}