<ngx-ui-loader></ngx-ui-loader>
<div class="main-header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <h5 class="mr-2">ShopKart</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav custom-align">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/user/products'">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/user/adminProducts'">Admin Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/user/addProducts'">Add Product</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto custom-align">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/user/orders'">Orders</a>
        </li>
        <li class="nav-item text-center" routerLinkActive="active">
          <div class="pointer" (click)="navigateToCart()">
            <span class="badge badge-danger badge-position" *ngIf="cartItemCount>0">{{cartItemCount}}</span>
            <img src="../assets/images/cart-icon.png" class="cart-icon text-center pt-0" alt="cart">
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/signIn'">Login </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/signUp'">Register </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-style" (click)="logout()">Logout </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="main-content mb-5">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <p>Copyrights &#169; ShopKart</p>
</div>