<div class="row mt-p">
    <div class="col-md-4 offset-md-4">
        <div class="card custom-card" *ngIf="!isInvalidToken">
            <div class="card-header">
                <h5 class="text-center text-primary">Recover Password</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" novalidate="novalidate">
                    <div class="form-group">
                        <label for="NewPassword">New Password*</label>
                        <input type="password" class="form-control" formControlName="NewPassword"
                            [ngClass]="{'is-invalid':resetPasswordForm.controls.NewPassword.invalid && resetPasswordForm.controls.NewPassword.touched}" />
                        <div
                            *ngIf="resetPasswordForm.controls.NewPassword.invalid && resetPasswordForm.controls.NewPassword.touched">
                            <p class="help-block" *ngIf="resetPasswordForm.controls.NewPassword.errors?.required">You
                                can`t
                                leave this
                                empty.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CnfPassword">Confirm Password*</label>
                        <input type="password" class="form-control" formControlName="CnfPassword"
                            [ngClass]="{'is-invalid':resetPasswordForm.controls.CnfPassword.invalid && resetPasswordForm.controls.CnfPassword.touched}" />
                        <div
                            *ngIf="resetPasswordForm.controls.CnfPassword.invalid && resetPasswordForm.controls.CnfPassword.touched">
                            <p class="help-block" *ngIf="resetPasswordForm.controls.CnfPassword.errors?.required">You
                                can`t
                                leave this
                                empty.</p>
                            <div *ngIf="resetPasswordForm.errors && resetPasswordForm.errors?.mismatch && resetPasswordForm.value.CnfPassword!=='' && resetPasswordForm.value.NewPassword!==''"
                                class="help-block">Password do not match</div>
                        </div>
                        <div
                            *ngIf="resetPasswordForm.errors && resetPasswordForm.controls.CnfPassword.valid && resetPasswordForm.controls.CnfPassword.touched && resetPasswordForm.value.CnfPassword!=='' && resetPasswordForm.value.NewPassword!==''">
                            <div *ngIf="resetPasswordForm.errors?.mismatch" class="help-block">
                                Password do not match</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="isInvalidToken">

            <h4 class="text-danger">Invalid Token </h4> <a [routerLink]="'/signIn'">Click</a> here to signin.

        </div>
    </div>
</div>