<div class="row mt-p">
    <div class="col-md-4 offset-md-4">
        <div class="card custom-card">
            <div class="card-header">
                <h5 class="text-center text-primary">Recover Password</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" novalidate="novalidate">
                    <div class="form">
                        <label for="Email">Email*</label>
                        <input type="email" class="form-control" formControlName="Email"
                            [ngClass]="{'is-invalid':forgotPasswordForm.controls.Email.invalid && forgotPasswordForm.controls.Email.touched}" />
                        <div
                            *ngIf="forgotPasswordForm.controls.Email.invalid && forgotPasswordForm.controls.Email.touched">
                            <p class="help-block" *ngIf="forgotPasswordForm.controls.Email.errors?.required">You can`t
                                leave this
                                empty.</p>
                            <p class="help-block" *ngIf="forgotPasswordForm.controls.Email.errors?.email">Invalid email
                                address.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="float-left" [routerLink]="'/signUp'">New User?</a>
                        <a class="float-right" [routerLink]="'/signIn'">SignIn?</a>
                        <div class="cleafix"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="isLinkSent">
                        Password Recover link sent to your Email!
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>